.. figure:: _static/ifmo-logo.jpg
    :alt: Ifmo logo
    :align: center
    :figwidth: 30%

------------

.. class:: centre

**<Факультет>, <Направление>**

.. raw:: pdf

    Spacer 0 200

.. class:: centre

**Лабораторная работа №N**

.. class:: ifmo-cover-table

+--------------+-----------------------------------+
|              | .. class:: right                  |
|              |                                   |
| Тема: <тема> | по <Название предмета>            |
+--------------+-----------------------------------+
|              | .. class:: right                  |
|              |                                   |
|              |    **Выполнил:**                  |
|              |                                   |
|              |    <ФИО>                          |
+--------------+-----------------------------------+
|              | .. class:: right                  |
|              |                                   |
|              | **Преподаватель практики:** <ФИО> |
+--------------+-----------------------------------+
|              | .. class:: right                  |
|              |                                   |
|              | **Преподаватель:** <ФИО>          |
+--------------+-----------------------------------+


.. raw:: pdf

    Spacer 0 160

.. class:: centre

    г. Санкт-Петербург

    2024 г.


.. raw:: pdf

    PageBreak mainPage
