.. class:: ifmo-cover-title-1

**Министерство науки и высшего образования Российской Федерации**

.. class:: ifmo-cover-title-2

**ФЕДЕРАЛЬНОЕ ГОСУДАРСТВЕННОЕ АВТОНОМНОЕ ОБРАЗОВАТЕЛЬНОЕ УЧРЕЖДЕНИЕ ВЫСШЕГО ОБРАЗОВАНИЯ**

.. class:: ifmo-cover-title-3-4-5

**НАЦИОНАЛЬНЫЙ ИССЛЕДОВАТЕЛЬСКИЙ УНИВЕРСИТЕТ ИТМО**

.. class:: ifmo-cover-title-3-4-5

**(Университет ИТМО)**

.. raw:: pdf

    Spacer 0 20

.. class:: ifmo-cover-title-3-4-5

**Факультет программной инженерии и компьютерной техники**

.. class:: ifmo-cover-title-6

    Образовательная программа ______

    Направление подготовки (специальность) ______

.. raw:: pdf

    Spacer 0 20

.. class:: ifmo-cover-title-7

О Т Ч Е Т

.. raw:: pdf

    Spacer 0 10

.. class:: centre

о *(указывается наименование практики)* практике

.. raw:: pdf

    Spacer 0 10

.. class:: ifmo-cover-title-rest-1

    Тема задания: ______

    Обучающийся *Ф. И. О., № группы*

.. raw:: pdf

    Spacer 0 20

.. class:: ifmo-cover-title-rest-2

    Руководитель практики от профильной организации: *Ф. И. О., должность и место работы*

    Руководитель практики от университета: *Ф. И. О., должность*

.. raw:: pdf

    Spacer 0 10

.. class:: ifmo-cover-table-1

+-+----------------------------------------------------------+
| | Практика пройдена с оценкой ______                       |
+-+----------------------------------------------------------+
| | Подписи членов коммиссии:                                |
+-+----------------+-----------------------------------------+

.. class:: ifmo-cover-table-2

+------------------+----------------------------+------------+
|                  |                            | *Ф. И. О.* |
+------------------+----------------------------+------------+
|                  | .. class:: ifmo-cover-sign |            |
|                  |                            |            |
|                  | (подпись)                  |            |
+------------------+----------------------------+------------+
|                  |                            | *Ф. И. О.* |
+------------------+----------------------------+------------+
|                  | .. class:: ifmo-cover-sign |            |
|                  |                            |            |
|                  | (подпись)                  |            |
+------------------+----------------------------+------------+
|                  |                            | *Ф. И. О.* |
+------------------+----------------------------+------------+
|                  | .. class:: ifmo-cover-sign |            |
|                  |                            |            |
|                  | (подпись)                  |            |
+------------------+----------------------------+------------+
|                  | Дата ___                   |            |
+------------------+----------------------------+------------+

.. raw:: pdf

    Spacer 0 160

.. class:: centre

    Санкт-Петербург

    20 ___

.. raw:: pdf

    PageBreak mainPage
