
.. figure:: _static/ifmo-logo.jpg
    :alt: Ifmo logo
    :align: center
    :figwidth: 50%


------------


.. class:: centre

**<Факультет>, <Направление>**

.. class:: centre

Лабораторная работа №N

.. class:: ifmo-report-info

+--------------+-----------------------------------+
| Тема: <тема> | по <Название предмета>            |
+--------------+-----------------------------------+
|              | **Выполнил:** <ФИО>               |
+--------------+-----------------------------------+
|              | **Преподаватель практики:** <ФИО> |
+--------------+-----------------------------------+
|              | **Преподаватель:** <ФИО>          |
+--------------+-----------------------------------+

.. class:: centre

    г. Санкт-Петербург

    2024 г.
